{% extends "::base.html.twig" %}

{% block title %}{{ 'bug.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title">{{ 'bug.title'|trans }}</div>
            <ol class="breadcrumb">
                <li class="active">{{ 'bug.title'|trans }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title"><b>{{ 'bug.title'|trans }}</b></h4>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'bug.form.title'|trans }}</label>
                    <div class="col-md-10">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'bug.form.title'|trans }}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'bug.form.description'|trans }}</label>
                    <div class="col-md-10">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder':
                            'bug.form.description'|trans
                        }}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ 'bug.form.labels'|trans }}</label>
                    <div class="col-md-10">
                        {{ form_widget(form.labels, {'attr': {'class': 'select2 select2-multiple'}}) }}
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-default waves-effect waves-light btn-md">
                        {{ 'bug.form.submit'|trans }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
